.nav-link {
  padding-right: 10px; /* Adjust the right padding to control spacing */
  padding-left: 10px; /* Adjust the left padding as needed */
}
/* #Create-Card {
  background: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
} */
